<DBPatcher>
    <Database>
        <Name>hl7receiver</Name>
        <Directories>
            <Schema>hl7receiver/schema</Schema>
            <Functions>hl7receiver/functions</Functions>
            <Triggers>hl7receiver/triggers</Triggers>
        </Directories>
        <Actions>
            <CreateDatabaseIfNotExists/>
            <ApplySchema/>
            <DropAllFunctions/>
            <ApplyFunctions/>
            <DropAllTriggers/>
            <ApplyTriggers/>
        </Actions>
    </Database>
</DBPatcher>